<h2>Search Note</h2>

<div class="main-content">
  <table class="table table-bordered">
    <tr>
      <th *ngFor="let item of listTitle">{{item}}</th>
    </tr>
    <tr *ngFor="let item of listNote">
      <td>{{item.NoteCategory}}</td>
      <td>{{item.Note}}</td>
      <td>{{item.NoteDate}}</td>
      <td *ngIf=" item.TblContact &&item.TblContact.FirstName; else checknull">{{item.TblContact.FirstName}}</td>
      <td *ngIf=" item.TblContact &&item.TblContact.LastName; else checknull">{{item.TblContact.LastName}}</td>
      <td *ngIf=" item.TblContact &&item.TblContact.Company; else checknull">{{item.TblContact.Company}}</td>
      <td *ngIf="item.TblContact &&item.TblContact.StatusCode; else checknull">
        <tr *ngFor="let result of listStatusCode">
          <td *ngIf="item.TblContact.StatusCode == result.StatusCode">{{result.Status}}</td>
        </tr>
      </td>
      <td *ngIf="item.UpdatedById; else checknull">{{item.UpdatedById}}</td>
      <td *ngIf="item.UpdatedDate; else checknull">{{item.UpdatedDate}}</td>
    </tr>
  </table>
</div>

<ng-template #checknull>
  <td></td>
</ng-template>
